#header-portfolio {
    color: lightskyblue;
    margin-top: 10px;
    background-color: cornflowerblue;
    width: 50%;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
/*styles top of page*/
.page-top {
    background-color: grey;
    border: solid aquamarine;
    border-width: thick;
    width: 100%;
    margin-bottom: 5px;
}
/*styles nav bar content*/
nav {
    list-style-type: none; 
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*sets sizing for image*/
#imagebeach {
    width: 100%;
    height: 600px;
    border: solid aquamarine;
    border-width: thick;
}
/*styles about me container and content*/
#about-me-section {
    border: solid aquamarine;
    border-width: thick;
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightskyblue;
    width: 100%;
}


#about-me-header {
    margin-top: 10px;
}

/*styles and aligns work header and container*/
#work-header {
    border: solid aquamarine; 
    color: lightskyblue;
    background-color: grey; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styles calc box and container*/
.calc-box-section {
    border: solid aquamarine;
    border-width: thick;
    background-color: grey;
    width: 50%;
    text-align: center;
    padding: 80px;
}
/*adds properties to calc box when cursor hovers*/
.calc-box-section:hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 4px black;

}

#calc-box-header {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styles content in p tag*/
#calc-box-caption {
   /* border: solid aquamarine; */
    color: lightskyblue;
    background-color: grey;
}
/*styles wallbox container*/
.wallbox-section {
    border: solid aquamarine;
    border-width: thick;
    background-color: grey;
    width: 50%;
    text-align: center;
    padding: 80px; 
}
/*adds properties to wallbox when cursor hovers*/
.wallbox-section :hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 4px black;
}

#wallbox-header {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wallbox-caption {
    color: lightskyblue;
    background-color: grey;
}
/*styles pastelbox container*/
.pastel-section {
    border: solid aquamarine;
    border-width: thick;
    background-color: grey;
    width: 50%;
    text-align: center;
    padding: 80px;
}
/*adds properties to pastelbox when cursor hovers*/
.pastel-section :hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 4px black;
}

#pastel-header {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styles content in p tag*/
#pastel-caption {
    color: lightskyblue;
    background-color: grey;
}
/*styles runbox container*/
.run-section {
    border: solid aquamarine;
    border-width: thick;
    background-color: grey;
    width: 50%;
    text-align: center;
    padding: 80px;
}
/*adds properties to runbox when cursor hovers*/
.run-section :hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 4px black;
}

#run-header {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styles content in p tag*/
#run-caption {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styles surfbox container*/
.surf-section {
    border: solid aquamarine;
    border-width: thick;
    background-color: grey;
    width: 50%;
    text-align: center;
    padding: 80px;
}
/*adds properties to surfbox when cursor hovers*/
.surf-section :hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 4px black;
}

#surf-header {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styles content in p tag*/
#surf-caption {
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}